{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel = "stylesheet"
    href = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    crossorigin = "anonymous">
    <link rel = "stylesheet" href = "{% static 'english/css/style.css' %}">
</head>
<body class = "container-large">
    <h1 class = "text-black">{{title}}</h1>
    <form action = "{% url 'signout' request.user.pk %}" method = "post">
        {% csrf_token %}
        {{msg}}
        <p><input type = "submit" value ="はい" class = "btn btn-dark text-white btn-lg" role = 'button'></p>
        <a class = "btn btn-dark btn-lg" href = "{% url 'mypage' request.user.pk %}">戻る</a>
    </form>
</body>
</html>
