body{
    background-image : url("/static/english/jpg/desk.jpg");
    font-size : 30px;
    font-weight : bolder;

}
h1{
    font-weight : bolder;
    font-size : 50px;
}
h3{
    font-weight : bolder;
}


form{
    width: 500px;
}